* {
	font-family: "Righteous";
}

header {
	height: 200;
	padding-top: 200px;
	background-color: #774753;
	background-image: url("img/salmon.png");
	background-repeat: no-repeat;
	background-position: center top;
}

h1 {
	text-align: center;
	color: #EA9E98;
	text-shadow: 5px 1px 5px #16181C;
	float: top;
}

.history {
	background-color: #D5D3CD;
}

th, td {
	border: 1px solid #000;
}

thead th {
	background-color: dimgrey;
	color: #D5D3CD;
}

tr:nth-child(even) {
	background-color: lightgrey;
}

tr:nth-child(odd) {
	background-color: white;
}

.logo {
	font-family: 'Righteous';	
	text-align: center;
	text-shadow: 5px 1px 5px #16181C;
	color: #EA9E98;
	font-size: 400%;
}

.slogan {
	font-family: 'Righteous';	
	text-align: center;
	text-shadow: 5px 1px 5px #16181C;
	color: #EA9E98;
	font-size: 100%;
}

#tshirt {
	float: bottom;
}

#sales {
	background-color: white;
}

body {
	background-color: #D5D3CD;
}

aside {
	font-family: 'Righteous';	
	text-align: center;
	background-color: #EA9E98;
	border: 3px solid #D5D3CD;
	color: #000000;
	font-size: 100%;
	float: left;
	padding-bottom: 200px;
}

li {
	list-style-type: none;
	text-align: left;
}

img.align-center {
	display: block;
	margin: 5px auto;}

.content {
	background-color: #8F5A61;
	float: top;
}

footer {
	text-align: center;
	float: bottom;
	background-color: #EFB7B0;
}

